*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #434f63;
}

.home input{
  border: none;
  height: 30%;
  background-color: #1f242b;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  padding: 3px;
}

.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35%;
  width: 80%;
}



/* CHAT */
.button-back{
  position: absolute;
  right: 80%;
  left: 1.7em;
  top: 1.5em;
  min-width: 4em;
  max-width: 5em;
}

.chat-screen{
  height: 100vh;
  width: 100vw;
  background-color: #434f63;
  padding: 1em;
}

.chat-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.chat-body{
  height: 85%;
  background-color: #1f242b;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px;
}

.chat-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-footer input{
  height: 3em;
  width: 95%;
  background-color: #1f242b;
  color: white;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
}

.chat-footer button{
  width: 20%;
}

.send-button{
  max-width: 3em;
  height: 3em;
}

.message{
  display: flex;
  background-color: aquamarine;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-width: 8em;
}

.msg{
  word-wrap: break-word;
  width: 100%;
  font-size: 18px;
  text-align: left;
}

.contain{
  display: flex;
}

#you{
  justify-content: flex-end;
  text-align: right;
  align-items: right;
}

#other{
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
}

*{
  word-break: break-all;
  word-wrap: break-word;
}


/* scroll */
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}